<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .explanation {
            text-align: center;
            color: #333333;
            background-color: #f4f4f4;
            padding: 10px;
        }
    </style>
    <script>
        function showCalculateOption(option) {
            if (option === 'manual') {
                document.getElementById('manual-option').style.display = 'block';
                document.getElementById('calculation-option').style.display = 'none';
            } else if (option === 'calculation') {
                document.getElementById('calculation-option').style.display = 'block';
                document.getElementById('manual-option').style.display = 'none';
            }
        }

        function calculateBMR(event) {
            event.preventDefault(); // 阻止表單的默認提交行為
            console.log('calculateBMR function is triggered');

            // 獲取表單資料
            const formData = new FormData(document.getElementById('calculation-form'));

            // 發送POST請求到Flask應用程序
            fetch('/', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                // 顯示基礎代謝率結果
                document.getElementById('bmr-value').textContent = data.bmr.toFixed(2);
                document.getElementById('bmr-result').style.display = 'block';

                // 顯示下一步表單並修改按鈕的點擊事件
                document.getElementById('activity-form').style.display = 'block';
                document.getElementById('calculation-form').onsubmit = function(event) {
                    calculateNutrition(event);
                };
            })
            .catch(error => console.error('Error:', error));
        }

        function calculateNutrition(event) {
            event.preventDefault();
            console.log('calculateNutrition function is triggered');

            const formData = new FormData(document.getElementById('activity-form'));
            formData.append('bmr', document.getElementById('bmr-value').textContent); // 添加基礎代謝率

            fetch('/', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                // 顯示營養素結果
                document.getElementById('nutrition-result').innerHTML = data;
                document.getElementById('nutrition-result').style.display = 'block';
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</head>
<body>
    <header>
        <h1>Fitness Calculator</h1>
        <p>透過輸入您的基礎代謝率(BMR)、活動水平和體重,搭配您的運動經驗以及目標,來去計算出您每日所需攝取的熱量,以及建議的營養素分配</p>
        <p>備註: TDEE（Total Daily Energy Expenditure，總日能量消耗量）是指一天內身體消耗的總能量。此計算僅為粗率估算,還需透過週期性(三到四週)紀錄觀察身體變化來做適當調整。</p>
    </header>
    <main>

        <div id="options">
            <label>
                <input type="radio" name="calculation_option" value="manual" onclick="showCalculateOption('manual')"> 自行填寫基礎代謝率
            </label>
            <label>
                <input type="radio" name="calculation_option" value="calculation" onclick="showCalculateOption('calculation')"> 輸入基本資料來計算基礎代謝率
            </label>
        </div>

        <!-- 手動填寫基礎代謝率 -->
        <div id="manual-option" style="display: none;">
            <form action="/" method="POST">
                <label for="bmr">基礎代謝率：</label>
                <input type="number" id="bmr" name="bmr" required><br><br>
        
                <ul class="explanation">
                    <p>活動水平:</p>
                    <p>• sedentary（久坐）：辦公室工作或生活方式非常久坐的人，活動係數約為1.2。</p>
                    <p>• lightly active（輕度活動）：輕度運動，每週1-3天，活動係數約為1.375。</p>
                    <p>• moderately active（中度活動）：中度運動，每週3-5天，活動係數約為1.55。</p>
                    <p>• very active（非常活動）：非常活躍，每週6-7天，活動係數約為1.725。</p>
                    <p>• extremely active（極度活動）：極度活躍，每天進行高強度運動，活動係數約為1.9。</p>
                    <p>⬇ ⬇ ⬇ ⬇ ⬇ 請開始填寫 ⬇ ⬇ ⬇ ⬇ ⬇</p>
                </ul>

            <label for="activity_level">活動水平：</label>
            <select id="activity_level_manual" name="activity_level">
                <option value="sedentary">久坐</option>
                <option value="lightly active">輕度活動</option>
                <option value="moderately active">中度活動</option>
                <option value="very active">非常活躍</option>
                <option value="extremely active">極度活躍</option>
            </select><br><br>

            <label for="experience">健身經驗：</label>
            <select id="experience_manual" name="experience">
                <option value="新手">新手</option>
                <option value="老手">老手</option>
            </select><br><br>

            <label for="goal">目標：</label>
            <select id="goal_manual" name="goal">
                <option value="增肌">增肌</option>
                <option value="減脂">減脂</option>
            </select><br><br>

            <label for="weight">體重 (公斤)：</label>
            <input type="text" id="weight_manual" name="weight" required><br><br>

            <input type="submit" value="計算TDEE 及建議營養素">
            </form>
        </div>

        <!-- 計算基礎代謝率 -->
        <div id="calculation-option" style="display: none;">
            <form action="/" method="POST">
                <label for="gender">性別：</label>
                <select id="gender" name="gender">
                    <option value="male">男</option>
                    <option value="female">女</option>
                </select><br><br>

                <label for="height">身高 (公分)：</label>
                <input type="text" id="height" name="height" required><br><br>

                <label for="weight">體重 (公斤)：</label>
                <input type="text" id="weight" name="weight" required><br><br>

                <label for="age">年齡：</label>
                <input type="number" id="age" name="age" required><br><br>
                <ul class="explanation">
                    <p>活動水平:</p>
                    <p>• sedentary（久坐）：辦公室工作或生活方式非常久坐的人，活動係數約為1.2。</p>
                    <p>• lightly active（輕度活動）：輕度運動，每週1-3天，活動係數約為1.375。</p>
                    <p>• moderately active（中度活動）：中度運動，每週3-5天，活動係數約為1.55。</p>
                    <p>• very active（非常活動）：非常活躍，每週6-7天，活動係數約為1.725。</p>
                    <p>• extremely active（極度活動）：極度活躍，每天進行高強度運動，活動係數約為1.9。</p>
                    <p>⬇ ⬇ ⬇ ⬇ ⬇ 請開始填寫 ⬇ ⬇ ⬇ ⬇ ⬇</p>
                </ul>

            <label for="activity_level">活動水平：</label>
            <select id="activity_level_manual" name="activity_level">
                <option value="sedentary">久坐</option>
                <option value="lightly active">輕度活動</option>
                <option value="moderately active">中度活動</option>
                <option value="very active">非常活躍</option>
                <option value="extremely active">極度活躍</option>
            </select><br><br>

            <label for="experience">健身經驗：</label>
            <select id="experience_manual" name="experience">
                <option value="新手">新手</option>
                <option value="老手">老手</option>
            </select><br><br>

            <label for="goal">目標：</label>
            <select id="goal_manual" name="goal">
                <option value="增肌">增肌</option>
                <option value="減脂">減脂</option>
            </select><br><br>
            
            <input type="submit" value="計算基礎代謝率、TDEE 及建議營養素">
            </form>
        </div>

    </main>
    <footer>
        <p>&copy; 2024 Fitness Calculator</p>
    </footer>
</body>
</html>
